---
import Base from "../layouts/Base.astro";
import Nav from "../layouts/sections/Nav.astro";
import Hero from "../layouts/sections/Hero.astro";
import Marquee from "../layouts/sections/Marquee.astro";
import DualLens from "../layouts/sections/DualLens.astro";
import NightVision from "../layouts/sections/NightVision.astro";
import Solar from "../layouts/sections/Solar.astro";
import PanTilt from "../layouts/sections/PanTilt.astro";
import Specs from "../layouts/sections/Specs.astro";
import Range from "../layouts/sections/Range.astro";
import UseCases from "../layouts/sections/UseCases.astro";
import Contact from "../layouts/sections/Contact.astro";
import Footer from "../layouts/sections/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <DualLens />
    <NightVision />
    <Solar />
    <PanTilt />
    <Specs />
    <Range />
    <UseCases />
    <Contact />
  </main>
  <Footer />
</Base>
